@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Redressed&display=swap');

/*Selector universal*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

image, video{
    width: 100%;
}

body{
    background-color: #FFF6D5;
    font-family: 'Poppins', sans-serif;
}

h1, h2{
    font-family: 'Redressed', cursive;
}

article{
    border-radius: 20px;
}
/*color body #FFF6D5*/

/*Encabezado*/
li{
    display: list-item;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(118, 209, 122);
}

a:visited{
    color: rgb(118, 209, 122);
}

a:hover{
    color: rgb(52, 236, 61);
}

.ingreso:hover{
    background-color: rgb(52, 236, 61);
}

ion-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin: 10px;
}

.encabezado{
    width: 100%;
    display: grid;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    position:fixed;
    z-index: 100;
    background-color:rgba(255, 255, 255, 0.6);
}

.topnav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    justify-content: center;
}

.perfil{
    width: 100%;
    align-items: center;
    position: absolute;
}

.banner{
    position: relative;
    background-image: url(assets/img/bannerDefinitivo.png);
    background-repeat: no-repeat;
    height: 400px;
}

.ingreso{
    border-radius: 60px;
    height: 40px;
    border-style: none;
    background-color: rgb(118, 209, 122);
    color: aliceblue;
}

.imagenFondo{
    display: block;
}

.fotoPerfil{
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

.descripcionPerfil{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

/*Main*/
.contenido{
    align-items: center;
    display: flex;
    justify-content: center;
}

.desc{
    background-color:rgba(255, 255, 255, 0.7);
    text-align: justify;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

h2{
    width: 50%;
}

/*Footer*/
.subir{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.arrowSubir{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    padding: 5px;
}

.footer{
    background-image: url(assets/img/footerDefinitivo.png);
    background-repeat: no-repeat;
    height: 400px;
}

/*media query*/
/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 425px){
    /*Encabezado y perfil*/
    p{
        font-size: 0.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h1{
        font-size: 1.7rem;
    }
    .encabezado{
        grid-template-columns: 50% 50%;
    }
    .ingreso{
        font-size: 12px;
        width: 4rem;
    }
    .perfil{
        display: block;
        top: 120px;
    }
    .fotoPerfil{
        width: 10rem;
        height: 10rem;
        margin: auto;
    }
    .descripcionPerfil{
        padding: 20px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    /*main*/
    .contenido{
        margin-top: 120px;
    }
    .desc{
        max-width: 25rem;
    }
    /*footer*/
    .arrowSubir{
        width: 2rem;
        height: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 768px) {
    /*Encabezado y perfil*/
    p{
        font-size: 1rem;
    }
    h2{
        font-size: 1.8rem;
    }
    .encabezado{
        grid-template-columns: 60% 40%;
    }
    .ingreso{
        font-size: 12px;
        width: 4rem;
    }
    .perfil{
        display: block;
        top: 120px;
    }
    .fotoPerfil{
        width: 10rem;
        height: 10rem;
        margin: auto;
    }
    .descripcionPerfil{
        padding: 20px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    /*main*/
    .contenido{
        margin-top: 120px;
    }
    .desc{
        max-width: 45rem;
    }
    /*footer*/
    .arrowSubir{
        width: 2rem;
        height: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /*encabezado*/
    h2{
        font-size: 2rem;
    }
    .encabezado{
        grid-template-columns: 80% 20%;
    }
    .perfil{
        display: grid;
        grid-template-columns: 30% 70%;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        top: 150px;
    }
    .ingreso{
        font-size: 15px;
        width: 5rem;
    }
    .fotoPerfil{
        width: 15.6rem;
        height: 250px;
        margin-left: 80px;
    }
    .descripcionPerfil{
        margin-right: 5rem;
        padding: 50px;
    }
    p{
        font-size: 1.3rem;
    }
    /*main*/
    .contenido{
        margin-top: 70px;
    }
    .desc{
        max-width: 87.5rem;
    }
    /*footer*/
    .arrowSubir{
        width: 2.5rem;
        height: 2.5rem;
    }
}
